html,body,header, #intro {
    height: 100%
}

#headerheight{
  height: 20%;
}

#intro{
    background: url(../index/maxresdefault.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.top-nav-collapse{
    background-color: black;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse){
        background: black;
    }
}
.flex-box {
    display: flex;
    flex-flow: row wrap;
  }
  
  .flex-box #myCarousel{
    flex: 1 1 50%
  }
  
  .flex-box #desc {
    flex: 1 1 50%;
  }
  
  div.container {
    width: 96%;
    max-width: 960px;
    margin: 0 auto; /* центрируем основной контейнер */
  }
  img {
    width: 100%; /* ширина картинки */
    height: auto; /* высота картинки */
  }

  #return-to-top {
    width: 40px;
    height: 45px;
    background: #000;
    color: #fff;
    position: fixed;
    z-index: 8;
    bottom: 2%;
    right: 2%;
    border-radius: 5px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  #return-to-top:hover {
    color: #e6d07d;
    cursor: pointer;
  }
  
  #return-to-top:hover i:hover {
    -webkit-animation-name: go_top_button;
    animation-name: go_top_button;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  
  #return-to-top i {
    font-size: 31px;
    padding: 6px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  @keyframes go_top_button {
    16.65% {
      transform: translateY(6px);
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -webkit-transform: translateY(6px);
      -o-transform: translateY(6px);
    }
    33.3% {
      transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      -o-transform: translateY(-5px);
    }
    49.95% {
      transform: translateY(4px);
      -moz-transform: translateY(4px);
      -ms-transform: translateY(4px);
      -webkit-transform: translateY(4px);
      -o-transform: translateY(4px);
    }
    66.6% {
      transform: translateY(-2px);
      -moz-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      -webkit-transform: translateY(-2px);
      -o-transform: translateY(-2px);
    }
    83.25% {
      transform: translateY(1px);
      -moz-transform: translateY(1px);
      -ms-transform: translateY(1px);
      -webkit-transform: translateY(1px);
      -o-transform: translateY(1px);
    }
    100% {
      transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      -o-transform: translateY(0);
    }
  }

  footer .sponsores {
    margin: 0;
    z-index: 0;
  }
  
  footer .sponsores li {
    display: inline-block;
    z-index: 0;
  }
  
  footer .sponsores li img {
    margin: 0 15px 0 0;
    z-index: 0;
  }
  
  footer .sponsores a {
    transition: 0.24s all;
    z-index: 0;
  }
  
  footer .sponsores a:hover {
    opacity: 0.7;
    transition: 0.24s all;
    z-index: 0;
  }

  .pagefoto{
    background: url(../Images/bg-photo.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .image {
    height: 300px;
    max-width: 600px;
    max-height: 400px;
  }
  
  .image-link {
    position: absolute;
    z-index: 1;
  }
  .image-title{
    z-index: 2;
  }

  .image .image-title {
    position: relative;
    font-size: 1.4rem;
    padding: 15px;
    font-size: 1.2rem;
    padding: 10px !important;
  }

  .image:hover .image-title {
    transform: translateY(-15%);
    -webkit-transition: 0.24s all;
    -o-transition: 0.24s all;
    -moz-transition: 0.24s all;
    transition: 0.24s all;
    
  }

  .image .image-title {
    font-size: 22px;
    -webkit-transition: 0.24s all;
    -o-transition: 0.24s all;
    -moz-transition: 0.24s all;
    transition: 0.24s all;
  }


  .image:hover .image-img:after {
    opacity: 1;
  }
  
  
  
  .image-img:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    opacity: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0.24s all;
    -o-transition: 0.24s all;
    -moz-transition: 0.24s all;
    transition: 0.24s all;
    z-index: 1;
  }

  .image:hover .image-title {
    transform: translateY(-15%);
    -webkit-transition: 0.24s all;
    -o-transition: 0.24s all;
    -moz-transition: 0.24s all;
    transition: 0.24s all;
  }

  .popup {
	position: fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.4);
	position:fixed;
	z-index:1;
	height:100%;
	width:100%;
}


.popup_img {
    text-align: center;
    position: fixed;
	margin:0 auto;
	z-index:2;
	max-height:1000px;
    max-width:800px;
    margin:auto;
    left:0;
    right:0;
    top: 12%;
}

/* Scroll bar */
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    /* border-radius: 5px; */
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  ::-webkit-scrollbar-thumb {
    /* border-radius: 5px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #e6d07d;
  }
  
  /* Scroll bar */

  .headertext{
    color: white;
    text-align: center;
  }

  .gotoback{
    margin-left: 16.27%;
    margin-top:-1.3% ;
    position: absolute;
    font-size: 300%;
  }
  
  .videogallery{
    width: 100%
  }

  .active-menu{
    background-color: #e6d07d;
  }

  .pagevideo{
    background: url(../Images/bandscene.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  
  #container{
    text-align: center;
    margin: 0 auto 0 auto;;
  }

  .carousel-video {
    padding: .3em .3em 0;
    background: rgb(0,0,0);
    text-align: center;
  }
  .carousel-video div {
    position: relative;
    margin-bottom: .3em;
    padding-top: 56.25%;
  }
  .carousel-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .carousel-video span {
    display: inline-block;
    word-spacing: 1em;  /* расстояние между картинками */
  
  /* прокрутка миниатюр при необходимости */
    overflow: auto;
    white-space: nowrap;
    word-wrap: normal;
  
  }
  .carousel-video a {
    position: relative;
    display: inline-block;
    max-width: 120px;  /* максимальная ширина миниатюр */
    width: 25%;  /* ширина миниатюр */
    border: 1px solid blue;  /* рамка вокруг миниатюр */
    opacity: .7;  
    text-decoration: none;
  }
  .carousel-video a:visited,
  .carousel-video a:nth-of-type(1) {
    border-color: #555;  /* рамка вокруг миниатюр просмотренных видео */
  }
  .carousel-video a:hover { 
    opacity: 1;
  }
  .carousel-video a:not(:active):focus {
    pointer-events: none;
  }
  .carousel-video a::before {
    content: "";
    position: absolute;
    top: 0em;
    right: 0em;
    bottom: 0em;
    left: 0em;
    background: rgba(0,0,1,.1);
    transition: background 0s 9999999s;
  }
  .carousel-video a:nth-of-type(1)::before {
    background: rgba(255,255,254,.7);
  }
  .carousel-video span:active a::before {
    background: rgba(0,0,0,0);
    transition: background 0s;
  }
  .carousel-video span:active a:active::before {
    background: rgba(255,255,255,.7);
    transition: background 0s;
  }
  .carousel-video img {
    max-width: 100%;
    vertical-align: middle;  /* убрать нижний отступ до рамки под картинкой */
  }
  
  /*Preloader*/

  .preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: url(../gif.gif) center no-repeat black;
    text-align: center;
}